
<div class="container" id="about_page">
 <h1>About Imaginate Pics</h1>
  <div class="row">
    <div class= "col-xs-6 col-md-4">
      <p>At Imaginate Imagery, we consider excellence a given. We’re a team of professionals who set the standard at the previous companies we worked for before setting out to do something for ourselves. Our main focus is to work together to create a better quality of life for one another.</p>
    </div>
    <div class= "col-xs-6 col-md-4">
      <p>We work hard, we work smart, and we work together. — A strategy that has successfully translated to an unmatched level of service for our clients. We wouldn’t have it any other way!</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <p>Your success is our success and there’s more to good service than just being fast. Simply put, we’re a group of people who love what we do and are looking forward to helping you! All we need to know is “How soon do you need us there?”</p>
    </div>
  </div>
</div>