<div class="container" id="about_page">
  <h1>CA ART</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare purus rhoncus</p>

      <p>
        Nulla massa ante, hendrerit laoreet mi at, sodales laoreet nibh. Aliquam consectetur vitae tellus vel lobortis. Sed interdum justo at venenatis tincidunt. Sed aliquam tempor gravida. Aliquam nec felis lacus. Aenean bibendum dolor ac viverra congue. Praesent vel faucibus urna. Aenean pulvinar mauris quis lacus faucibus, quis ornare dui ornare. Pellentesque vitae mi mauris. Duis euismod elit leo. Mauris rutrum sit amet magna tempus aliquet.
       <%= image_tag 'about1.jpeg', width: "736px" %><br>
      </p>


      <p>
        Fusce vel ligula dignissim, varius est non, sagittis nunc. Sed interdum commodo mollis. Nunc ex dolor, sodales ut gravida vel, tincidunt vel orci. Integer ac ipsum feugiat, sagittis odio eget, convallis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pellentesque ullamcorper convallis. Duis placerat consequat eleifend. 
      <%= image_tag 'about2.jpeg', width: "736px" %><br>
     </p>

      <p>
        Praesent et pellentesque turpis. Mauris tincidunt leo in sapien interdum ultricies. Maecenas consectetur libero varius, blandit dolor ut, rhoncus mauris. Morbi ac ornare nunc, sit amet facilisis enim. Pellentesque suscipit ipsum nec vestibulum volutpat. Curabitur suscipit diam vel neque interdum mattis. Donec a mattis eros. 
       </p>
       <p>
        Donec at justo a nulla consectetur dapibus. Aliquam non ligula condimentum nulla luctus laoreet at vel nulla.
      </P><br>


 </div>
