<div class="faq-page">
<h2>Questions & Facts</h2>
<div class="panel-group" id="trevor">
    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#trevor" href="#collapseTwo">
          <span class="glyphicon glyphicon-plus"></span>What is our design process?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        There are quite a few things to consider:
        a.  Phase one includes gathering information for a project; what is the Purpose, Goals. Target Audience and Content etc.
        b.  Phase two involves the planning aspect; what engines to use and timeframe etc.
        c.  Phase three is the Design process and development process-where the real work is being done.
        d.  Testing and Delivery- Once we have complete the site, testing it in different forms and script to be sure it is compatible in different browsers.

      </div>
     </div>
     </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#trevor" href="#collapseFour">
            <span class="glyphicon glyphicon-plus"></span>Why choose a professional Web developer?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          The one thing that most businesses or companies have in common is the need for a website to have an online presence to either attract new customers or enhance the brand and experience of existing one.
        </div>
      </div>
    </div>

    <!-- This is a comment for panel #5. -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#trevor" href="#collapseFive">
            <span class="glyphicon glyphicon-plus"></span>What technology we use?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          Technology is always evolving; we at League Design are constantly evolving with tech. We use the latest industry platforms such as html3, css3, ruby on rails etc.
        </div>
      </div>
    </div>
    </div>
    </div>