
  <div class="pic-front">
   <div class="Intro">
     <h1>THE IMAGE GALLERY</h1>
     <p>YOUR SOURCE FOR IMPIRATIONAL ART & PICS</p>
     <a href="/products"  class = "btn btn-link">shop now</a>
   </div>
  </div>