/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.projectName{
  font-family: 'Shadows Into Light Two';
  padding-top: 14px;
  font-size: 18px;
}

.projectName a{
  color: #cfb53b;
}

 .navbar-inverse {
 background: rgba(0,0,0,0.7);
 width: 100%;
  top: 0; 
}

.nav-navbar ul li{
  display: inline-block;
}


.navbar-nav a:hover{
  color:red;
    text-decoration: none;
    transition: color 600ms;
}

.navbar-nav {
  float:right;
   }


.navbar-inverse .navbar-nav>li>a  {
    font-size: 1.10em;
    font-weight:300;
    color: #cfb53b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A77B30;
}

#panel-main h1{
  font-family: 'Shadows Into Light Two';
  font-size: 6em;
  text-align: center;
  padding-top: 60px;
}

footer{
    background-color: #ededed;
    position: relative;
    height: 70px;
    bottom: 0px;
    z-index: 1;
    font-size: 1em;
}



.copyright{
  padding-top: 20px;
  padding-left:20px;
  float: left;
}

.follow{
  float:right;
  padding-top: 20px;
  padding-right: 10px;
  color: #B79966;
}





#carousel-image img {
  height: 100%;
  width: 100%;
}

#carousel-example-generic {
  width: 500px;
  height: 400px;
}







