/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    position: relative;
    font-family: 'Gotham SSm A', 'Gotham SSm B','Gotham',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.container {
    width: 100%;
}

 #body-area {
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
 }



.projectName {
    text-transform: uppercase;
    font-size: 16px;
    padding: 13px;
}

.projectName a {
    color: #B79966;
    padding: 15px;
}

 .navbar-inverse {
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   background-color: #ededed;
 }

 .navbar-inverse .navbar-nav>li>a {
    color: #B79966;
}

.navbar{
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 1;
     color: #A07F45;
}

.nav{
     float:right;
}

.navbar-form{
  padding-top: 5px;
}


footer{
    background-color: #ededed;
    position: relative;
    height: 70px;
    bottom: 0px;
    z-index: 1;
    font-size: 1em;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    color: #B79966;
}


.copyright{
  padding-top: 20px;
  padding-left:20px;
  float: left;
}

.follow{
  float:right;
  padding-top: 20px;
  padding-right: 10px;
  color: #B79966;
}


a:visited {
    color: #B79966;
}

.jumbotron{
  margin-bottom: 0px;
}

#carousel-image img {
  height: 100%;
  width: 100%;
}

#carousel-example-generic {
  width: 500px;
  height: 400px;
}



.Intro{
    text-align: center;
    line-height: 15px;
    padding-top: 80px;
  }

.Intro h1{
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.Intro p{
  font-size: 24px;
}


.pic-front{
    width: 100%;
    background-size: 100% 100%;
} 


.pic-front{
    width: 100%;
    background-size: 100% 100%;
    color: white;
} 


/* Retina display */
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url("contact14.jpg");
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .pic-front{
        background-image: url("contact14.jpg");
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .pic-front{
        background-image: url("contact14.jpg");
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .pic-front{
        background-image: url("contact14.jpg");
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .pic-front{
        background-image: url("contact14.jpg");
    }

