/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.projectName {
    text-transform: uppercase;
    font-size: 16px;
    padding: 13px;
}

.projectName a {
    color: white;
    padding: 15px;
}

.navbar{

  position: fixed;
     width: 100%;
     top: 0;
     z-index: 1;
     color: rgba(149, 130, 176, 0.1);
}

.nav{
     float:right;
}

.img{
    padding: 30px;
    width: 100%;

}

footer {
    background-color: black;
    width: 100%;
    position: relative;
    height: 70px;
    bottom: 0px;
    opacity: .7;
    z-index: 1;
    font-size: 1em;
}

.copyright{
  padding-top: 20px;
  padding-left:20px;
  float: left;
}

.follow{
  float:right;
  padding-top: 20px;
  padding-right: 10px;
}