/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #fff;
  color: #333;  
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: helvetica, Arial, sans-serif;
}

h1{
   font-size: 1.5em;
   font-family: helvetica;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 4px;
}
.nav.navbar.navbar-inverse.navbar-fixed-top{
  position: absolute;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.projectName{
  font-family: helvetica, lora, serif;
  padding-top: 12px;
  font-size: 1.4em;
  font-weight: 500;
  padding-left: 10px;
}

.projectName a{
  color: #fbf9f9;
}

 .navbar-inverse {
 background: rgba(0,0,0,0.7);
 width: 100%;
  top: 0; 
}

.nav-navbar ul li{
  display: inline-block;
}


.navbar-inverse .navbar-nav>li>a:hover{
  color:#DE0;
    text-decoration: none;
    transition: color 600ms;
}



.navbar-inverse .navbar-nav>li>a  {
    font-size: 1.10em;
    font-weight:400;
    color: #fbf9f9;;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A77B30;
}

.navbar .navbar-collapse {
    text-align: center;
}

#panel-main h1{
  font-family: helvetica, lora, serif;
  font-size: 6em;
  text-align: center;
  padding-top: 60px;
}

.carousel {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 -30px;

}


footer{
    background-color: #ededed;
    position: relative;
    height: 70px;
    bottom: 0px;
    z-index: 1;
    font-size: 0.8em;
}



.copyright{
  padding-top: 26px;
  padding-left:20px;
  float: left;
}

.social-button {
    float: right;
    padding-right: 20px;
    position: relative;
    top: -5%;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button i {
    background: none;
    text-decoration: none;
    color: white;
    height: 3rem;
    left: 0;
    line-height: 3rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3rem;
    z-index: 10;
}

