// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* products index */

#index img {
	width: 250px;
	height: 200px;
	margin: 0;
	padding: 0;
}


#index{
	margin-bottom: 40px;
}

#new-product{
	margin-bottom: 80px;
}


/* ratings */

.product-reviews p {
	text-align: left;
}

#new-comment {
	text-align: left;
}

#new-comment textarea {
	width: 50%;
}

.row {
       padding-top: 40px;
}

