// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#rate {
	}

/* products index */

#index img {
	width: 250px;
	height: 200px;
	margin: 0;
	padding: 0;
}



/* ratings */

.product-reviews p {
	text-align: left;
}

#new-comment {
	text-align: left;
}

#new-comment textarea {
	width: 50%;
}

.row1 {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 40px;
}

