// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  display: block;
  float: center;
}

#signuplinks {
  text-align: center;
}

.login-field {
    margin-top: 30px;
    width: 60%;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.alternative-user-button {
    float: right;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

textarea.form-control {
    height: 120px;
}

.search{
  height: 24px;
}

#about_page h1{
  text-align: center;
  padding-bottom: 30px;
}

#map{
  padding-top: 40px;
  padding-left: 40px;

}