

 p {
   font-family: lora, serif;
 }

.search{
  height: 24px;
}

#about_page{
  padding-top: 60px;
}

#about_page h1{
  text-align: center;
  padding-bottom: 30px;
}

#map{
  padding-top: 40px;
  padding-left: 40px;

}

#contact-page{
  width: 80%;
  padding-top: 80px;
  margin-bottom: 110px;
}

#contact-page h1{
  font-family: lora, serif;
}

.faq-page{
  padding-top: 60px;
}

