// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_user {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}
#logincontainer {
	width: 60%;
}
#loginfield label, #signupfield label, #user_email, #user_password, #user_last_name, #user_first_name, #user_password_confirmation, #signup, #loginfield, #signem, .actions, .field, #link_to, #render, #new_comment, #product_price, #product_color, label {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
