// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login{
	padding-top: 80px;
}

.login h1{
	text-align: center;
}

#login {
  padding-top: 30px;
  min-height: 575px;
}

#login div {
  margin: auto;
  max-width: 500px;
}


.actions {
  display: block;
  float: center;
}

#signuplinks {
  text-align: center;
}


.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: 0px;
}

.checkbox, .radio{
	padding-top:10px;  
}


#register{
	padding-top:80px;
	padding-bottom:100px;
}

#register div{
	max-width: 500px;
}

#register h1{
	text-align: center;
}

#password{
	padding-top:80px;
}


#user-ed{
  padding-top: 80px;
}