<% if signed_in? %>
<div id="rate">
	<h4>Add a review</h4>
	<%= form_for([@product, @product.comments.build], remote: true) do |f| %>
		<p>
			<div class="rating"></div>
		</p>
		<div class="form-group" id="new-comment">
			<%= f.label :body, "Comments" %><br>
			<%= f.text_area :body, class: 'form-control', placeholder: 'Your review here', rows: '5' %>
		</div>
		
		<p id="new-comment">
			<%= f.submit "Submit", class: 'btn btn-primary' %>
		</p>

	<% end %>
</div>
<% end %>