
<footer class="foot navbar-fixed-bottom">
  <div class="copyright">
    <p>© 2016 C2 ART Co | All rights Reserved</p>
   </div>
  

  <div class="social-button">
        <a href="https://twitter.com/Trevorlon27" target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/careerfoundry" target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
      </div>
 </footer>

