<!DOCTYPE html>
<html>
<head>
  <title>Artsy Design Co</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name-"viewwport" content-"width=device-width, initial-scale=1"
  <%= csrf_meta_tags %>


</head>
<body>
  <!--navbar starts here-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <nav class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="projectName">
          <a href="#">Artsy Design Coo</a>
          </div>
        </nav>

         <div class="navbar-collapse collapse">
           <ul class= "nav navbar-nav">
             <li><a href="#Home">Home</a></li>
             <li><a a href="#Products">Products</a></li>
             <li><a href="#start">Start Your Order</a></li>
             <li><a href="#aboutus">About Us</a></li>
             <li><a href="#contact">Contact</a></li>
           </ul>
        </div>
      </div> <!-- end nav container-->
   </nav> <!-- navbar ends here-->

  <div class ="jumbotron">
    <center>
      <h1><strong>Welcome to Artsy Design Co</strong></h1>
      <h2>Your source for custom designed Art</h2>
     </center>
   </div>

  <footer>
    <div class="copyright">
      <p>© 2015 Artsy Design Co | All rights Reserved</p>
    </div>
    <div class="follow">
      <a href="https://twitter.com/Trevorlon" class="twitter-follow-button" data-show-count="false">Follow @Trevorlon</a>
    </div>
  </footer>
   <div class="facebook">
     <div class="fb-like" data-href="https://www.facebook.com/careerfoundry" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
   </div>

<%= yield %>

</body>
</html>
